{% extends 'base.html.twig' %}

{% block body %}

    <div class="fade-in container padding-gallery">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Foto</h1><hr>
        </div>

        <!------------ Buttons ----------->
        <div align="center">
            <button class="btn btn-default filter-button" data-filter="viss">Viss</button>
            <button class="btn btn-default filter-button" data-filter="elektroniskas">Elektroniskās</button>
            <button class="btn btn-default filter-button" data-filter="vesturiskas">Vēsturiskās</button>
            <button class="btn btn-default filter-button" data-filter="latinamerikas">Latīņamerikas</button>
            <button class="btn btn-default filter-button" data-filter="tradicionalas">Tradicionālās</button>
            <button class="btn btn-default filter-button" data-filter="briva_stila">Brīvā stila</button>
            <button class="btn btn-default filter-button" data-filter="ielu">Ielu</button>
            <button class="btn btn-default filter-button" data-filter="swinga">Swinga</button>
        </div>
        <br/>

        <!------------------------ Images ----------------------->

        <!------------ Tradicionālās dejas ----------->
        <div class="row">
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_1.jpg') }}" data-lightbox="tradicionalas_dejas_1">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_1.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_2.jpg') }}" data-lightbox="tradicionalas_dejas_2">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_2.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_3.jpg') }}" data-lightbox="tradicionalas_dejas_3">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_3.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_3_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_4.jpg') }}" data-lightbox="tradicionalas_dejas_4">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_4.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_4_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_5.jpg') }}" data-lightbox="tradicionalas_dejas_5">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_5.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_5_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_6.jpg') }}" data-lightbox="tradicionalas_dejas_6">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_6.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_6_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_7.jpg') }}" data-lightbox="tradicionalas_dejas_7">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_7.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_7_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_8.jpg') }}" data-lightbox="tradicionalas_dejas_8">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_8.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_8_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_9.jpg') }}" data-lightbox="tradicionalas_dejas_9">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_9.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_9_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_10.jpg') }}" data-lightbox="tradicionalas_dejas_10">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_10.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_10_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tradicionalas">
                <a href="{{ asset('images/Galerija/tradicionalas_dejas_11.jpg') }}" data-lightbox="tradicionalas_dejas_11">
                    <img src="{{ asset('images/Galerija/tradicionalas_dejas_11.jpg') }}" class="img-responsive" alt="tradicionalas_dejas_11_bilde">
                </a>
            </div>

            <!------------ Brīvā stila dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter briva_stila">
                <a href="{{ asset('images/Galerija/briva_stila_dejas_1.jpg') }}" data-lightbox="briva_stila_dejas_1">
                    <img src="{{ asset('images/Galerija/briva_stila_dejas_1.jpg') }}" class="img-responsive" alt="briva_stila_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter briva_stila">
                <a href="{{ asset('images/Galerija/briva_stila_dejas_2.jpg') }}" data-lightbox="briva_stila_dejas_2">
                    <img src="{{ asset('images/Galerija/briva_stila_dejas_2.jpg') }}" class="img-responsive" alt="briva_stila_dejas_2_bilde">
                </a>
            </div>

            <!------------ Elektroniskās mūzikas dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter elektroniskas">
                <a href="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_1.jpg') }}" data-lightbox="elektroniskas_muzikas_dejas_1">
                    <img src="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_1.jpg') }}" class="img-responsive" alt="elektroniskas_muzikas_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter elektroniskas">
                <a href="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_2.jpg') }}" data-lightbox="elektroniskas_muzikas_dejas_2">
                    <img src="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_2.jpg') }}" class="img-responsive" alt="elektroniskas_muzikas_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter elektroniskas">
                <a href="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_3.jpg') }}" data-lightbox="elektroniskas_muzikas_dejas_3">
                    <img src="{{ asset('images/Galerija/elektroniskas_muzikas_dejas_3.jpg') }}" class="img-responsive" alt="elektroniskas_muzikas_dejas_3_bilde">
                </a>
            </div>

            <!------------ Ielu dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ielu">
                <a href="{{ asset('images/Galerija/ielu_dejas_1.jpg') }}" data-lightbox="ielu_dejas_1">
                    <img src="{{ asset('images/Galerija/ielu_dejas_1.jpg') }}" class="img-responsive" alt="ielu_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ielu">
                <a href="{{ asset('images/Galerija/ielu_dejas_2.jpg') }}" data-lightbox="ielu_dejas_2">
                    <img src="{{ asset('images/Galerija/ielu_dejas_2.jpg') }}" class="img-responsive" alt="ielu_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ielu">
                <a href="{{ asset('images/Galerija/ielu_dejas_3.jpg') }}" data-lightbox="ielu_dejas_3">
                    <img src="{{ asset('images/Galerija/ielu_dejas_3.jpg') }}" class="img-responsive" alt="ielu_dejas_3_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ielu">
                <a href="{{ asset('images/Galerija/ielu_dejas_4.jpg') }}" data-lightbox="ielu_dejas_4">
                    <img src="{{ asset('images/Galerija/ielu_dejas_4.jpg') }}" class="img-responsive" alt="ielu_dejas_4_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ielu">
                <a href="{{ asset('images/Galerija/ielu_dejas_5.jpg') }}" data-lightbox="ielu_dejas_5">
                    <img src="{{ asset('images/Galerija/ielu_dejas_5.jpg') }}" class="img-responsive" alt="ielu_dejas_5_bilde">
                </a>
            </div>

            <!------------ Latīņamerikas dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_1.jpg') }}" data-lightbox="latinamerikas_dejas_1">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_1.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_2.jpg') }}" data-lightbox="latinamerikas_dejas_2">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_2.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_3.jpg') }}" data-lightbox="latinamerikas_dejas_3">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_3.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_3_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_4.jpg') }}" data-lightbox="latinamerikas_dejas_4">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_4.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_4_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_5.jpg') }}" data-lightbox="latinamerikas_dejas_5">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_5.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_5_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_6.jpg') }}" data-lightbox="latinamerikas_dejas_6">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_6.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_6_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_7.jpg') }}" data-lightbox="latinamerikas_dejas_7">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_7.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_7_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter latinamerikas">
                <a href="{{ asset('images/Galerija/latinamerikas_dejas_8.jpg') }}" data-lightbox="latinamerikas_dejas_8">
                    <img src="{{ asset('images/Galerija/latinamerikas_dejas_8.jpg') }}" class="img-responsive" alt="latinamerikas_dejas_8_bilde">
                </a>
            </div>

            <!------------ Swinga dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter swinga">
                <a href="{{ asset('images/Galerija/swinga_1.jpg') }}" data-lightbox="swinga_dejas_1">
                    <img src="{{ asset('images/Galerija/swinga_1.jpg') }}" class="img-responsive" alt="swinga_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter swinga">
                <a href="{{ asset('images/Galerija/swinga_2.jpg') }}" data-lightbox="swinga_dejas_2">
                    <img src="{{ asset('images/Galerija/swinga_2.jpg') }}" class="img-responsive" alt="swinga_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter swinga">
                <a href="{{ asset('images/Galerija/swinga_3.jpg') }}" data-lightbox="swinga_dejas_3">
                    <img src="{{ asset('images/Galerija/swinga_3.jpg') }}" class="img-responsive" alt="swinga_dejas_3_bilde">
                </a>
            </div>

            <!------------ Vēsturiskās dejas ----------->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_1.jpg') }}" data-lightbox="vesturiskas_dejas_1">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_1.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_1_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_2.jpg') }}" data-lightbox="vesturiskas_dejas_2">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_2.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_2_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_3.jpg') }}" data-lightbox="vesturiskas_dejas_3">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_3.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_3_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_4.jpg') }}" data-lightbox="vesturiskas_dejas_4">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_4.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_4_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_5.jpg') }}" data-lightbox="vesturiskas_dejas_5">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_5.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_5_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_6.jpg') }}" data-lightbox="vesturiskas_dejas_6">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_6.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_6_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_7.jpg') }}" data-lightbox="vesturiskas_dejas_7">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_7.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_7_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_8.jpg') }}" data-lightbox="vesturiskas_dejas_8">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_8.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_8_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_9.jpg') }}" data-lightbox="vesturiskas_dejas_9">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_9.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_9_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_10.jpg') }}" data-lightbox="vesturiskas_dejas_10">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_10.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_10_bilde">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vesturiskas">
                <a href="{{ asset('images/Galerija/vesturiskas_dejas_11.jpg') }}" data-lightbox="vesturiskas_dejas_11">
                    <img src="{{ asset('images/Galerija/vesturiskas_dejas_11.jpg') }}" class="img-responsive" alt="vesturiskas_dejas_11_bilde">
                </a>
            </div>
            <br>

        </div>
    </div>

{% endblock %}