{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Latīņamerikas dejas  -->
    <section class="Latinamerikas-dejas">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">

                            <!------------ Latīņamerikas dejas ----------->
                            <h1 class="fade-in align-self-center text-center text-md-center">Latīņamerikas dejas</h1><hr class="fade-in">

                            <p class="fade-in align-self-center text-center text-md-center">Ir zināmas, kā vienas no
                                skaistākajām un mundrākajām dejām ar visliekāko kustību amplitūdu un šeit tiek ietverta
                                mamba, rumba un samba un citas līdzīgas dejas, kur ir jāgroza gurni un tās var dejot
                                vai nu vienatnē vai arī pārī. Parasti latīņamerikas dejas tiek uzskatītas par vienas
                                no “seksīgākajām” dejām, un vīriešiem parasti patīk skatīties, kā sievietes tās
                                izpilda!</p>

                            <!------------ Mamba ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Mamba</h3>

                            <p class="fade-in">Mamba ir Kubas latīniskā deja, kas izveidojās 1940. gados, kad tāda paša
                                nosaukuma mūzikas žanrs kļuva populārs visā Latīņamerikā. Sākotnējā deju deja, kas
                                sākās Kubā un Meksikā, bija saistīta ar danci, lai gan ātrāka un mazāk stingra. ASV tas
                                aizvietoja rhumbu (rumba) kā vismodernāko latgaļu deju. Vēlāk, pateicoties salsai un
                                izsmalcinātākai dejai, Ņujorkā tika popularizēts jauns mambo deju veids, ieskaitot
                                breikošanas soļus.</p>

                            <a href="{{ asset('images/Latinamerikas_dejas/mambo-dance.jpg') }}" data-lightbox="mamba">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Latinamerikas_dejas/mambo-dance.jpg') }}" alt="Mamba">
                            </a>

                            <!------------ Rumba ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Rumba</h3>

                            <p class="fade-in">Rumba, pareizi sakot “rhumba”, balles deja par afrikāņu-kubiešu tautas
                                deju izcelsmi, kas kļuva starptautiski populāra 20. gadsimta sākumā. Vislabāk zināms
                                par dejotāju smalko pusi uz sāniem gūžas kustībām ar rumpi uz augšu, tas tiek izdejots
                                ar divu strauju sānu soļu pamatrakstu un lēnu soli uz priekšu. Katrai joslai tiek
                                izpildīti trīs soļi. Mūzikai 4/4 laikā ir uzstājīga sinkopācija.</p>

                            <p class="fade-in">Balles versijas pamatā ir kubiešu dēls, pats par sevi mazāk enerģisks
                                veids, kā nevīžīgās Kubas rumbas dejo tavernās un līdzīgās vietās. Vārds rumba reizēm
                                vispārināti atsaucas uz citām Kubas dejām ar līdzīgiem ritmiem.</p>

                            <a href="{{ asset('images/Latinamerikas_dejas/rumba-dance.jpg') }}" data-lightbox="rumba">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Latinamerikas_dejas/rumba-dance.jpg') }}" alt="Rumba">
                            </a>

                            <!------------ Samba ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Samba</h3>

                            <p class="fade-in">Sambas deja ir mazliet par šo un daudz par to. Ar izcelsmi Brazīlijā
                                19. gadsimtā samba nopelna savu ritmu un pārtiek no Āfrikas vergu dejām Brazīlijas
                                cukurniedru plantācijās. Tradicionālā afrikāņu loka deja ar vientuļo centrālo
                                izpildītāju paļāvās uz svara maiņu, straujiem soļiem un slīdēšanu līdz 2/4 perkusiju
                                ritmam, kā arī diezgan nekustīgu ķermeņa augšdaļu ar rokām un plaukstām, kas reaģē uz
                                gūžas un kāju kustībām. Pēc verga beigām dejotāji migrēja uz “favelas” vai
                                “shantytytown” ārpus pilsētām, kur atbrīvotie vergi salika kopā deju trupas
                                karnevāliem.</p>

                            <p class="fade-in">Priekšnesumi bija neganti un bez aizķeršanās, un parasti tos rotāja
                                Brazīlijas portugāļu garoza. Bet samba izrādījās neatvairāms, tā popularitāte izplūda
                                pār šķirām un robežām, tā sporta nodarbības bagātīgi iekrāsoja reģionālās un
                                starptautiskās ietekmes. Šodien būtu neiespējami iedomāties karnevālu bez sambas.</p>

                            <a href="{{ asset('images/Latinamerikas_dejas/samba-dance.jpg') }}" data-lightbox="samba">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Latinamerikas_dejas/samba-dance.jpg') }}" alt="Samba">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}