{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Ielu dejas -->
    <section class="Ielu-dejas">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">

                            <!------------ Ielu dejas ----------->
                            <h1 class="fade-in align-self-center text-center text-md-center">Ielu dejas</h1><hr class="fade-in">

                            <p class="fade-in align-self-center text-center text-md-center">Pašlaik ir populārākais deju
                                stils un šajā kategorijā ietilpst gan Breika dejas gan dažādi hip-hopa elementi un arī
                                džerkošana, twerkošana, klauna gājiens, un dažādi citādi mazāk zināmi dej stili. Šeit ir
                                tās dejas, kas redzamas dažādās ielu dejošanas filmās un tāpēc arī šis stils tiek
                                popularizēts!</p>

                            <!------------ Breika dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Breika dejas</h3>

                            <p class="fade-in">Breiks (Breaking) ir dinamiskākais mūsdienu deju stils pasaulē, kas
                                vēsturiski ir radies 70.gados ASV. Breiks ir oriģinālā Hip-Hop kultūras deja un viens
                                no 5 Hip-Hop kultūras pamatelementiem (Mūzika - DJ, Māksla - Graffiti, Dzeja - MC/Reps,
                                Deja un kustība - Breiks, Zināšanas par kultūru, vēsturi un visiem elementiem).</p>

                            <p class="fade-in">Breikā dejotāji sacenšas viens ar otru radošumā, muzikalitātē un
                                veiklībā. Audzēkņi, izvēloties šo deju stilu, pastiprināti darbotos fiziskās
                                sagatavotības, ķermeņa plastikas izkopšanā un dejojot darbotos visos 4 līmeņos (Gaisā,
                                Stāvus, Tupus, Guļus). Īpašs uzsvars tiek likts uz improvizāciju, sava stila un orģinālo
                                kombināciju izveidi.</p>

                            <a href="{{ asset('images/Ielu_dejas/breakdance.jpg') }}" data-lightbox="breika_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Ielu_dejas/breakdance.jpg') }}" alt="Breika dejas">
                            </a>

                            <!------------ Hip-hop dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Hip-hop dejas</h3>

                            <p class="fade-in">Hip-hop dejās ir iekļauti tādi deju stili kā breaking, popping, locking
                                un brīvā stila elementi. Dažādas kustības, lēcieni, breiki un griešanās tiek kombinēti
                                tā, ka šis dejas stils kļūst neformāls un eksplozīvs.</p>

                            <p class="fade-in">Hip-hop deja ir ideāls veids, kā izpaust radošās spējas. To raksturo
                                dejotāja personības izpausmes, un deja nāk no dvēseles. Deja izpaužas ķermeņa kustībās,
                                kas pieskaņotas hip-hop mūzikas taktij un ritmam.</p>

                            <p class="fade-in">Hip-hop deja no citiem dejošanas stiliem atšķiras ar to, ka tas bieži
                                vien ir brīvais stils (improvizācija) un ka hip-hop dejotāji bieži iesaistās deju
                                cīņas – formālās vai neformālās brīvā stila deju sacensībās. Neformālās brīvā stila
                                deju cīņas parasti notiek apļveida dejas laukumā, kas dabiski izveidojas, tiklīdz sākas
                                deja. Šie trīs elementi – brīvais stils, cīņa un aplis – ir hip-hop dejas galvenie
                                elementi. Šis stils ir unikāls ar to, ka ļauj dejotājam brīvi veidot kustības,
                                papildinot tās ar savu personību.</p>

                            <a href="{{ asset('images/Ielu_dejas/hip-hop-dance.jpg') }}" data-lightbox="hip_hop_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Ielu_dejas/hip-hop-dance.jpg') }}" alt="Hip-hop dejas">
                            </a>

                            <!------------ Klauna gājiens jeb “Crip walk” ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Klauna gājiens jeb “Crip walk”</h3>

                            <p class="fade-in">“Cip walk” radās kaut kur 1970. gadā Komptonā, Kalifornijā. Tas notika
                                krietni pirms tam, kad mediji to pazina un izraisīja valsts mēroga izplatīšanos.
                                “Cripping” sācies kā veids, kā parādīt bandu piederību. To varētu veikt bandu sapulcēs,
                                viesībās vai pat pēc kāda nogalināšanas. Indivīds bieži vien vārda vai mājas nama vārdu
                                izrunā ar cieņu vai attēlojumu. Kā redzams, šī ar bandu saistītā deja nav dzimusi, lai
                                izklaidētu skatītājus ar gludiem deju gājieniem, bet gan kā veids, kā savienot un
                                pārstāvēt konkrētus indivīdus.</p>

                            <a href="{{ asset('images/Ielu_dejas/clown-walk-dance.jpg') }}" data-lightbox="klauna_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Ielu_dejas/clown-walk-dance.jpg') }}" alt="Klauna gājiens jeb “Crip walk”">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}