{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Tradicionālās dejas -->
    <section class="Tradicionalas-dejas">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">

                            <!------------ Tradicionālās dejas ----------->
                            <h1 class="fade-in align-self-center text-center text-md-center">Tradicionālās dejas</h1><hr class="fade-in">

                            <p class="fade-in align-self-center text-center text-md-center">Ietver sevī tādus deju žanrus, kā stepa dejas, džeza dejas, balles
                                dejas, disko dejas un Boogie-woogie dejas. Šīs dejas kopumā sastāda dejas, kas ir
                                bijušas pasaulē jau gadu desmitiem ilgi un kurās tiek izmantota veclaicīga mūzika.</p>

                            <!------------ Stepa dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Stepa dejas</h3>

                            <p class="fade-in">Stepa deja (tap dance), kas Amerikā, kokvilnas plantācijās, palīdzēja
                                afrikāņu vergiem sazināties vienam ar otru, lai brīdinātu par vergturu tuvošanos… Deja,
                                kas padarīja ritmiskus, jautrus un romantiskus 60./70./80. gadu mūziklus… Deja, kas
                                dzīvo joprojām mūsu sirdīs un stepa dejas skolā Top Tap Company.</p>

                            <p class="fade-in">Stepa deja veidojusies daudz, dažādu kultūru ietekmē. Tomēr par tās
                                dzimteni uzskatāma Amerika, kur šī deja sākotnēji “piederēja” ievestajiem afrikāņu
                                vergiem. Kad vergturi atklāja, ka viņu padotie spēj sazināties no visai liela attāluma
                                izmantojot bungu un citu sitamo instrumentu ritmu, viņiem šos instrumentus aizliedza.
                                Kā alternatīvu ievestie afrikāņi izsita šos pašus ritmus ar kājām un rokām.</p>

                            <a href="{{ asset('images/Tradicionalas_dejas/tap-dance.jpg') }}" data-lightbox="stepa_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Tradicionalas_dejas/tap-dance.jpg') }}" alt="Stepa dejas">
                            </a>

                            <!------------ Dzeza dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Džeza dejas</h3>

                            <p class="fade-in">Džeza deja izveidojās tajā pašā laikā, kad attīstījās arī džeza
                                mūzika, ap 1900. gadiem, Ņūorleānā. Stilu un kustības džeza dejai ASV ienesa afrikāņu
                                dejotās dejas. Pirmsākumos par džeza deju uzskatīja jebkuru deju, kas tika dejota džeza
                                pavadījumā, tai skaitā stepu un džiterbagu.</p>

                            <p class="fade-in">Laika gaitā šis deju stils izkristalizējās konkrētā un noteiktā stilā,
                                no ielu dejas pārtopot par profesionāli izpildītu, teatrālu deju.</p>

                            <a href="{{ asset('images/Tradicionalas_dejas/jazz-dance.jpg') }}" data-lightbox="dzeza_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Tradicionalas_dejas/jazz-dance.jpg') }}" alt="Dzeza dejas">
                            </a>

                            <!------------ Balles dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Balles dejas</h3>

                            <p class="fade-in">Balles deja ir viena no rekreācijas deju formu kategorijas deju žanriem,
                                kam raksturīgs divu partneru fizisks kontakts un kur atšķirībā no dažiem citiem deju
                                žanriem vīrietis un sieviete vienmēr dejo pārī, turklāt vīrietis vada, bet sievietes
                                uzdevums dejā sekot vīrieša vadībai.</p>

                            <p class="fade-in">Termins “balles deja” atvasināts no latīņu ballare  ‘dejot’. Balles
                                deju galvenais mērķis – skaists un kulturāls atpūtas veids. Mūsdienās balles deju
                                vērtība ir arī to daudzpusīgais praktiskais pielietojums un saskarsmes prasme.</p>

                            <a href="{{ asset('images/Tradicionalas_dejas/ball-dance.jpg') }}" data-lightbox="balles_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Tradicionalas_dejas/ball-dance.jpg') }}" alt="Balles dejas">
                            </a>

                            <!------------ Disko dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Disko dejas</h3>

                            <p class="fade-in">Agrākajos gados dejotāji diskotēkās dejoja brīva stilā piegājienā.
                                Sākumā daudzi dejotāji improvizēja paši savu deju stilu un deju soļus. Vēlāk diskotēkas
                                laikmetā tika attīstīti populāri deju stili, tostarp “Bump”, “Penguin”, “Boogaloo”,
                                “Watergate” un “Robot”. Līdz 1975. gada oktobrim Hustle (kā katafalks dažām diskotēkām,
                                kas bija ārkārtīgi populāras septiņdesmitos gados) valdīja. Tā bija ļoti stilizēta,
                                izsmalcināta un izteikti seksuāla. Variācijās ietilpa Bruklinas Hustle, Ņujorkas Hustle
                                un latīņu Hustle.</p>

                            <p class="fade-in">Diskotēkas laikā daudzi naktsklubi bieži rīko diskotēkas deju
                                sacensības vai piedāvā bezmaksas deju nodarbības. Dažās pilsētās bija diskotēkas deju
                                instruktori vai deju skolas, kas cilvēkiem mācīja, kā darīt populāras diskotēkas,
                                piemēram, “touch dancing”, “the hustle” un “the cha cha”.</p>

                            <a href="{{ asset('images/Tradicionalas_dejas/disco-dance.jpg') }}" data-lightbox="disko_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Tradicionalas_dejas/disco-dance.jpg') }}" alt="Disko dejas">
                            </a>

                            <!------------ Boogie-woogie dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Boogie-woogie dejas</h3>

                            <p class="fade-in">Boogie-woogie deja parādījās sākumā divdesmitajā gadsimtā, un uzreiz
                                piesaistīja uzmanību auditoriju miljoniem. Boogie piemīt unikāla dedzinātājs ritmu, kas
                                ir ideāli piemērots jebkuram dejotājam, neatkarīgi no vecuma. Attieksme pret deju,
                                emocionālās izjūtas un tiem, un citi ir vienādi, tas atstāj vienaldzīgu nevienu.</p>

                            <a href="{{ asset('images/Tradicionalas_dejas/woogie-boogie-dance.jpg') }}" data-lightbox="boogie_woogie_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Tradicionalas_dejas/woogie-boogie-dance.jpg') }}" alt="Boogie-woogie dejas">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}